Repository Lorderian/Frontier, pull requests merged in 2025-02, with the labels that each got.

#21 upstream070225 fix
  Resources/Maps/Corvax/Shuttles/Expedition/charon.yml
Labels: No C#, YML, size/L, S: Untriaged

#22 Tweak: Water barrel & Tajaran thirst
  Resources/Prototypes/Corvax/Entities/Mobs/Species/tajaran.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Crates/barrel.yml
Labels: No C#, YML, S: Untriaged, size/XS

#23 FIX: Helmet sprite fix
  Resources/Textures/Clothing/Head/Helmets/justice.rsi/off-equipped-HELMET-tajaran.png
  Resources/Textures/Clothing/Head/Helmets/merc_helmet.rsi/equipped-HELMET-tajaran.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cybersun.rsi/equipped-OUTERCLOTHING-reptilian — копия.png
  Resources/Textures/Corvax/Effects/keen_vision_marker.rsi/meta.json
  Resources/Textures/Corvax/Interface/Actions/keen_hearing.rsi/meta.json
Labels: No C#, S: Untriaged, size/XS, Sprites

#25 upstream120223
  Content.Shared/Shipyard/SharedShipyardSystem.cs
  Resources/Audio/Corvax/Effects/buranya.ogg
  Resources/Audio/Corvax/Effects/doridori.ogg
  Resources/Locale/ru-RU/_NF/bank/ledger.ftl
  Resources/Locale/ru-RU/_NF/job/job-names.ftl
  Resources/Locale/ru-RU/corvax/lobby/lobby.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/catalog/fills/crates/salvage.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/structures/machines/computers/computers_shipyard.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-hints.ftl
  Resources/Maps/Corvax/POI/MiningBase.yml
  Resources/Maps/Corvax/Shuttles/Expedition/ambition.yml
  Resources/Maps/Corvax/Shuttles/Expedition/courserx.yml
  Resources/Maps/Corvax/Shuttles/Expedition/gasbender.yml
  Resources/Maps/Corvax/Shuttles/Nfsd/the_defector.yml
  Resources/Prototypes/Corvax/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Corvax/Entities/Objects/Weapons/Guns/Ammunition/Magazines/SMGs/VectorMags.yml
  Resources/Prototypes/Corvax/Entities/Objects/Weapons/Guns/SMGs/vector.yml
  Resources/Prototypes/Corvax/Entities/Structures/Machines/Computers/computers_shipyard.yml
  Resources/Prototypes/Corvax/PointsOflnterest/MiningBase.yml
  Resources/Prototypes/Corvax/Recipes/Construction/Graphs/fun/neko_ark.yml
  Resources/Prototypes/Corvax/Recipes/Construction/fun.yml
  Resources/Prototypes/Corvax/Shipyard/Expedition/courserx.yml
  Resources/Prototypes/Corvax/Shipyard/Salvage/Asstedia.yml
  Resources/Prototypes/Corvax/Shipyard/Salvage/Fang.yml
  Resources/Prototypes/Corvax/Shipyard/Salvage/Pot.yml
  Resources/Prototypes/Corvax/Shipyard/Salvage/barge.yml
  Resources/Prototypes/Corvax/Shipyard/Salvage/bulker.yml
  Resources/Prototypes/Corvax/Shipyard/Salvage/chisel.yml
  Resources/Prototypes/Corvax/Shipyard/Salvage/hauler.yml
  Resources/Prototypes/Corvax/Shipyard/Salvage/kestrel.yml
  Resources/Prototypes/Corvax/Shipyard/Salvage/prospector.yml
  Resources/Prototypes/Corvax/Shipyard/Salvage/rosebudmki.yml
  Resources/Prototypes/Corvax/Shipyard/Salvage/theScavenger.yml
  Resources/Prototypes/Corvax/Shipyard/Salvage/vagabond.yml
  Resources/Textures/Corvax/Objects/Fun/nekoark.rsi/icon.png
  Resources/Textures/Corvax/Objects/Fun/nekoark.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/computers.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/computers.rsi/shipyard_mining.png
Labels: YML, S: Untriaged, Sprites, C#, Audio, FTL, size/XL

#26 Test Event Tweaks
  Content.Server/StationEvents/RampingStationEventSchedulerSystem.cs
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_NF/Events/nf_bluespace_grids_events.yml
Labels: No C#, YML, S: Untriaged, C#, size/S
